html {
    font-family: sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(ellipse at 0 50%, rgba(3,220,202,1) 0%,rgb(0, 164, 229) 50%),
    radial-gradient(ellipse at 100% 50%, rgba(3,220,202,1) 0%,rgb(0, 164, 229) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-blend-mode: overlay;
    user-select: none;
}

.big {
    font-size: 5.3em;
}